<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>Crud-App Homework: Pets</h1>

	<h4>Pets:</h4>
	<ul>
		<% pet.forEach((item, i) => { %>
		<li><%= item.name %></li>
		<li><%= item.age %></li>
		<li><%= item.color %></li>
		<li><% if (item.goodToOwn === true) { %>
			<span>Good To Own</span>
		<% } else if (item.goodToOwn === false) { %>
			<span>Not Good To Own</span>
		<% } %></li>
		<a href="/pets/<%= item.id %>" title="">Show Pet Page</a>
		<form action="/pets/<%= item.id %>?_method=DELETE" method="POST">
			<button type="submit">Delete Pet</button>
		</form>
		<% }) %>
	</ul>

	<a href="/pets/new" title="">Click for New Pet</a>

	<script src="/javascripts/app.js"></script>
</body>
</html>
